* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./images/background.jpg");
    font-family: 'Satisfy', cursive;
    color: steelblue;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

::placeholder {
    color: steelblue;
    font-family: 'Satisfy', cursive;
}

input[type="text"]
{
    color: steelblue;
    font-family: 'Satisfy', cursive;   
}

form button {
    color: steelblue;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 2.55rem;
}

form button:hover {
    background-color: steelblue;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
} 

.trash-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background-color: greenyellow;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 0.5rem;
}

.fa-trash, .fa-check {
    pointer-events: none;
} 

.todo-item {
    padding: 0rem 0.5rem;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    color: steelblue;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.select::after {
    content: "\25BC";
    position: absolute;
    color: steelblue;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
}

#date {
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
}
